@page "/repositories/{RepositoryName}/tags/{TagName}"
@using DockerRegistryUI.Data
@using TrivyAPIClient

<h3>@(RepositoryName):@(TagName)</h3>

<div class="mb-3">
    <button class="btn btn-success" disabled="@IsScanning" @onclick="() => UpdateVulnerabilities()">Scan image for vulnerable packages</button>
</div>

@if (IsScanning)
{
    <div>Vulnerability scan in progress...</div>
}
else if (!HasScanned)
{
    <div>Vulnerability scan has not been run. Use the button above to perform a vulnerability scan.</div>
}
else 
{
    <table style="mt-3" class="table table-bordered">
        @if (_vulnerabilities.Count < 1)
        {
            <tr>
                <td>
                    <span style="color:green" class="oi oi-check" aria-hidden="true"></span>
                    <span>No vulnerabilities found.</span>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td style="font-size: 1.2em;" colspan="10">Vulnerabilities found: <span style="font-weight:bold;color:maroon;">@_vulnerabilities.Count</span></td>
            </tr>
            <tr>
                <th>Severity</th>
                <th>Package</th>
                <th>Description</th>
            </tr>

            @foreach (var vulnerability in _vulnerabilities)
            {
                <tr>
                    <td class="@(GetSeverityCssClass(vulnerability.Severity))" style="vertical-align: top;">@vulnerability.Severity</td>
                    <td class="" style="vertical-align: top">@vulnerability.PkgName</td>
                    <td class="" style="vertical-align: top">@vulnerability.Description</td>
                </tr>
            }
        }
    </table>
}
